@import "./components/Welcome/Welcome.css";
@import "./components//Description/Description.css";
@import "./App.css";
@import "./components/Navigation/Navigation.css";
@import url('https://fonts.googleapis.com/css?family=IM+Fell+English&display=swap');


html,body,div,span,applet,object,iframe,h1,h2,h3,
h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,
code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,
sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,
label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,
aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,
menu,nav,output,ruby,section,summary,time,mark,audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,blockquote:after,q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
<<<<<<< HEAD
  
  background: #C0CEC6;
  background: -moz-linear-gradient(45deg, #C0CEC6 0%, #239BA4 51%, #9EC5B7 100%);
  background: -webkit-linear-gradient(45deg, #C0CEC6 0%, #239BA4 51%, #9EC5B7 100%);
  background: linear-gradient(45deg, #C0CEC6 0%, #239BA4 51%, #9EC5B7 100%);
  
=======
  background-color: white;
>>>>>>> 193b45ac0f8fa8bc50f8443f07672740f323dfc1
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header h1 {
  text-align: center;
}

.grid-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.page-view {
  min-height: 40vh;
}

.grid-view div.card.ui {
  margin: 1.25rem;
}

.logo {
  color: #406098;
  font-family: 'IM Fell English', serif ; 
  font-size: 3vw;
  font-style: italic;
  padding-left: 20px;
}

.logo:hover {
  color: red;
}

span {
  font-size: 6vw;
  font-weight: bold;
}

.navMenu {
  font-size: 24px;
  text-align: center;
  margin-right: 5%;
  color: #406098; 
}

.navMenu:hover {
  color: red;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
